

*{
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.counter_div{
    width: 400px;
    font-size: 30px;
    background-color: rgb(16, 57, 134);
    color: #fff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 20px  black;
   height: 180px;
    
}
.count{
    font-size: 40px;
}

.buttoms button{
    border: none;
    border-radius: 10px;
    padding: 10px;

}

.subtraction{
    background-color: orangered;
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
}

.reset{
    background-color: #fff;
    color: black;
    font-size: 20px;
    margin-top: 5px;
}
.add{
    background-color: green;
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
}